<h2> You Bookmarks </h2>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" target="_blank">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" />
      </form>
    </li>
  <% end %>
</ul>

<h2> Add New Bookmark </h2>

<form action="/bookmarks" method="post" >
  <input type="text" name="url" placeholder="Enter your url here" />
  <input type="text" name="title" placeholder="Enter title here" />
  <input type="submit" value="Save" />
</form>

<!-- button to take you to old page /bookmarks/new -->
<!-- <form  action="/bookmarks/new" method="get">
  <button type="submit" name="Add New Bookmark">Add New Bookmark</button>
</form> -->
